<div class="row">
	<h3>Support</h3>
	
	<p>Making you successful is our number one priority.  If there's anything
		getting in your way and it's something we can fix, please don't hesitate to
		get in touch.</p>
		
	<p>The best way to reach us is via email: <a href="mailto:support@retentionfactory.com">support@retentionfactory.com</a></p>
		
	<p>Don't worry, you won't be shuffled off into some support queue somewhere.  Support is so important to us that 
			this email goes directly to our CEO's iPhone.  And he checks it like a man possesed.  His name is
			Tim.  Even if there's nothing wrong, get in touch anyway because he's a real nice guy.</p>
		
	</p>
</div>
