
<div class="row">
	<div class="col-md-12">
		<h1>Welcome to Retention Factory</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
    <p>To complete installation of Retention Factory, you've got to make a few small modifications to your website.  Don't worry, we'll walk you through it</p>
    
    <h3>1. Install Our Javascript Widget</h3>
    <p>Warm up your development skills.  Please follow our <a href="http://www.retentionfactory.com/docs/install_javascript_widget.html">directions for installing the Javascript widget</a> to get data started flowing to your system.</p>
    
    <h3>2. Upload Your Order History</h3>
    <p>To calculate your retention rates, we'll need to know your customers' order histories.</p>
   	<p>From that order history, we'll calculate:
   		<ul>
   			<li>What percentage of your customers come back for additional purchases</li>
   			<li>Of those who do come back, how many days does it take them to come back, on average</li>
   		</ul>
   	</p>
   	<p>Then, the magic happens.  With those two numbers, we'll know just the right time to hit your past customers with an email and a discount
   		to come back for more.  Automatically.</p>
   		
   	<p>To get started uploading your history, please email the support wizards at support@retentionfactory.com and we'll work with you to get the data in.</p>
   		
   	<h3>3. Turn On The Messaging You Want</h3>
    <p>There's just one more thing for you to do: 
    	<a href="/messages/preferences">set up your messages</a>.  You can use the default text we've provided, or
    	customize the email with your own logos and text.  Most importantly, though, know that 
    	<span style="font-weight:bold;font-size:1.2em;">messages will not flow to your customers</span> 
    	until that message switch is flipped from "off" to "on". </p>
    	
    <h3>4. Select a Plan</h3>
    <p>Lastly, please take a moment to <a target="_new" href="/splash/plans_and_pricing">select a plan</a> 
    	to ensure continued service.  
    	Stores with fewer than 10 orders per month are always free.  Stores with more volume cost a bit more.  
    	 Don't worry, if you're right on the line we're not going to cut you off cold or anything, we'll make sure to work with you first. </p>
	</div>
</div>
