*.rbc
*.dump
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
/ssl-cert/*
/public/assets/*.js
/public/assets/*.css
/public/assets/*.js.*
/public/assets/*.css.*
/public/assets/*.json
pickle-email-*.html
.env
