<div class="row">
	<div class="col-md-12">
		<h1 style="font-size:1.8em">Turn Lost-Cause Customers Into Repeat Business, Automatically</h1>
		<p>Without intervention, some of your customers will forget about you and never come back.  We help you 
			turn that around by calculating when that "lost-cause" point is and prodding your customer with an email and a discount.
			Since your relationship with that customer is essentially over anyway it's practically free money, with almost no risk.</p>
	</div>
</div>

<div style="margin-top:30px;" class="row clearfix">
<div class="col-md-3">
<div class="service-alt"><div class="icon-image icon-image-large"><span class="icon-cogs"></span></div><h4><a href="/splash/plans_and_pricing">Automatic</a></h4>
<p>Fire-and-forget configuration to keep past customers engaged.</p></div>
</div>
<div class="col-md-3">
<div class="service-alt"><div class="icon-image icon-image-large"><span class="icon-comments"></span></div><h4><a href="/splash/plans_and_pricing">Targeted</a></h4>
<p>Send exactly the right message at exactly the right time to exactly the right customer.</p></div>
</div>
<div class="col-md-3">
<div class="service-alt"><div class="icon-image icon-image-large"><span class="icon-money"></span></div><h4><a href="/splash/plans_and_pricing">Easy Setup</a></h4>
<p>Start seeing results in minutes.  Without wading through oceans of configuration screens.</p></div>
</div>
<div class="col-md-3 last-column">
<div class="service-alt"><div class="icon-image icon-image-large"><span class="icon-refresh"></span></div><h4><a href="/splash/plans_and_pricing">Continuous</a></h4>
<p>Continues to learn and improve from your data, not just some generic assumptions.</p></div>
</div>
</div>

<!--
<div style="margin-top:30px;" class="row">
<div class="col-md-12">
	<h4>Do you know how many of your customers ever come back a second time?</h4>
	<p>If you don't, you're not alone.  Most eCommerce retailers don't know that simple statistic, one that is the biggest lever you have
		for stretching your customer acquisition dollars even further.  Retention Factory gives you that statistic, and more, 
		by plugging into your favorite eCommerce platform and analyzing your customer buying patterns.  And it doesn't stop there...</p>
	<p>Retention Factory also uses the
		knowledge it gains to automatically send your past customers <em>just the right email at just the right time</em> to bring them
		back for more.  You've put 
		a lot of time, effort, and cost into getting customers to your store in the first place.  Now how about capitalizing on that 
		investment by continuing the relationship beyond the first sale.  It takes <em>three times as much</em> to bring in a new customer
		as it does to sell to an existing one. 
	</p>
	<p>So, while you concentrate on bringing even more new customers to your store, let us concentrate on bringing your old customers back 
		for more.</p>
</div>
</div>
-->
<div style="margin-top:30px;" class="row">
<div class="col-md-12 last-column callout-wrapper-column">
	<div class="callout-box">
		<div class="callout-box-inner clearfix">
			<div class="col-md-8">
			<h2>Retention Factory turns one-time customers into repeat business by nurturing them with tools, emails and suggestions to keep them coming back.  Oh, and it does this all automatically.</h2>
			</div>
			<div class="col-md-4">
			<a style="margin-top:30px;" href="/users/sign_up" class="button btn  btn-orange btn-normal">Start No-Commitment Account Now</a>
			</div>
		</div>
	</div>
</div>
</div>



<div style="margin-top:30px;" class="row clearfix">
<div class="col-md-4"><div class="circle-feature-wrapper"><div class="circle-feature btn-orange">1</div><div class="circle-description"><h4><a href="#">SEE</a></h4>
<p>First, we suck in order data from your eCommerce platform (e.g. Shopify) and analyze it. For the first time, you’ll know the answer to: Are my customers coming back and when do they come back if they are?</p>
</div></div></div>
<div class="col-md-4"><div class="circle-feature-wrapper"><div class="circle-feature btn-orange">2</div><div class="circle-description"><h4><a href="#">UNDERSTAND</a></h4>
<p>Once we know when or if customers come back, we know when the right time to start messaging and offering discounts is.  </p>
</div></div></div>
<div class="col-md-4 last-column"><div class="circle-feature-wrapper"><div class="circle-feature btn-orange">3</div><div class="circle-description"><h4><a href="#">ACT</a></h4>
<p>Finally, we automatically send email to your past customers to bring them back for more.  Not with one-size-fits-all generic newsletters, but with hyper-targeted email built just for them.</p>
</div></div></div><div class="clear"></div>
</div>

<div style="margin-top:30px;" class="row">
	<div class="col-md-3"> 			<a style="margin-top:20px;" href="/splash/plans_and_pricing" class="button btn  btn-orange btn-normal">See Plans And Pricing</a></div>
	<div class="col-md-9">Like what you see, but want to know how much it costs?  No problem.  For stores with fewer than 30 orders per month, it's free. And even for stores with more volume than that, if you don't see revenue in the first month, we'll refund you the difference!</div>	
</div>

<div style="margin-top:30px;" class="row clearfix">
	<h3>Also Coming Soon...</h3>
	<p>We're working on more than just rescuing aged accounts.  Here are some of the other types of messaging in store for the near future.  All automatic, of course.
</div>
<div class="row clearfix">
	<div class="col-md-4">
		<ul>
			<li>New Product Notifications</li>
			<li>Customer Aniversary</li>
		</ul>
	</div>
	<div class="col-md-4">
		<ul>
			<li>Birthdays and Holidays</li>
			<li>Refill and Consumable Product Reminders</li>
		</ul>
	</div>
	<div class="col-md-4">
		<ul>
			<li>Product Upgrade Reminders</li>
			<li>Professionally-Produced Newsletters</li>
		</ul>
	</div>
</div>


