<html><body>
    <p>Hi,</p>
    <p>Thanks for signing up for Retention Factory.  You've taken the 
    	first step towards keeping in better touch with your existing customers, automatically.</p>
    <p>This is just a little friendly reminder to finish setting up by installing our Javascript widget
    	to track your incoming orders.  Without it, we won't be able to get on with the job of minting you money through repeat business.</p>
    	<p>In the mean time, will you help us make the product better?  Please 
    		<span style="font-weight:bold;">reply to this email</span> 
    		 real quick and just 
    	tell us in a sentence or two: Why did you sign up for Retention Factory?  What problem(s) 
    	are you hoping it will solve for your business?</p>
   
    
    <p>Thanks for the opportunity to help you,</p>
    <p>--The Retention Factory Team</p>
    <p>&nbsp;</p>
    <p>PS. if you have any questions, concerns, or feedback
    	 (or just want to say "Hi") please don't hesitate to email us 
    	 at support@retentionfactory.com, or even just reply to this email.</p> 
    </body></html>